# JavaScript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
# See https://circleci.com/docs/2.0/config-intro/#section=configuration for spec
#
version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo

commands:
  set_up_node_modules:
    description: "load node_modules, updating and storing back into cache if necessary"
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fall back to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  rebuild_example_site:
    # Requires the SOURCECRED_GITHUB_TOKEN secret env var.
    description: Generate a new version of the example site
    steps:
      # This ensures we can approach github over SSH.
      - run: |
          mkdir -p ~/.ssh;
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts;
      # Include a bot account SSH key if you're using the git plugin.
      # echo "$SSH_BOT_KEY" > ~/.ssh/id_rsa && chmod 0600 ~/.ssh/id_rsa;
      - run: ./example/rebuild-widgets.sh
  deploy_example_site:
    # Requires the SSH_DEPLOY_KEY secret env var.
    description: Commit and push ./example/site to the gh-pages branch
    steps:
      - run: |
          mkdir -p ~/.ssh;
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts;
          echo "$SSH_DEPLOY_KEY" > ~/.ssh/id_rsa && chmod 0600 ~/.ssh/id_rsa;
      - run: |
          cd ~/repo/example/site;
          git init;
          git config user.email "bot@sourcecred.io";
          git config user.name "Deployment Bot";
          git checkout -b gh-pages;
          git add --all;
          git commit -m "Publishing to gh-pages `date`";
          git push --dry-run -f git@github.com:sourcecred/widgets.git gh-pages;

jobs:
  test:
    executor: node
    steps:
      - checkout
      - set_up_node_modules
      - run: yarn test
  update_example_site:
    executor: node
    steps:
      - checkout
      - run: git submodule update --recursive --init
      - rebuild_example_site
      - deploy_example_site

workflows:
  version: 2
  commit:
    jobs:
      - test
  nightly:
    triggers:
      - schedule:
          cron: "0 23 * * *"  # 23:00 UTC
          filters:
            branches:
              only:
                - master
    jobs:
      - update_example_site
